.modal {
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.favorite-button {
  border-radius: 5px;
  height: 10vh;
  border: 1px solid #000804;
  cursor: pointer;
  background-color: #A6492E;
  color: black;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

.favorite-button:hover {
  transform: scale(1.1);
}

.modal>.header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal>.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -8px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  outline: none;
  text-align: center;
}

.popup-overlay {
  background-color: rgba(117, 120, 123, 0.7);
  position: fixed;
  display: flex;
  z-index: 999;
  pointer-events: auto;
}

.popup-content {
  position: relative;
  margin: auto;
  pointer-events: auto;
  background: #fff;
  width: 20%;
  padding: 5px;
  border: 5px solid #70DBC6;
  border-radius: 5px;
}

.add-favorite-button {
  height: 3em;
  width: 7em;
  border-radius: 6px;
  border: 1px solid #000804;
  background-color: #A6492E;
  color: black;
}

.add-favorite-button:hover {
  cursor: pointer;
  transform: scale(1.1)
}
