/* .App {
  text-align: center;
  /* align-items: center; *;
} */
body {
  height: 100%;
}

.home-page {
display: flex;
flex-direction: column;
/* justify-content: space-around; */
align-items: center;
height: 100%;
justify-items: space-between;
}

.random-container {
  margin-top: 100px;
}

.title { 
  font-size: 100px;
  /* align-self: center; */
   /* height: 200px;
   width:300px; */
   background: red;
}

.card-container {
  margin-top: 100px;
  height: 10%;
}